      * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: grid;
      	font-size: 1.2em;
      	font-family: Verdana, sans-serif;
        background:#fffffe;
        color:#595546;
      }

      img{
      	width:100%;
      	margin:1em auto;
      }

@keyframes fadeInUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 3s fadeInUp;
}

    .grey{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.8;
    filter: alpha(opacity=60);
    clip-path: polygon(11% 6%, 94% 0, 96% 98%, 4% 93%);
    }

    .footer p{
        letter-spacing: .1em;
       	color:#555;
       	text-decoration: none;
        margin:3em auto
       }
       
    .footer p a{
       	color:#555;
       }

header, section, footer{
	margin:3em auto;
	width:100%;
	text-align:center
	}

 
.info, .about, .call-to-action{
	width:70%;
	color:#777761
}

.butn {
    width: 12em;
    background-image: none;
    background-image: -moz-linear-gradient(top, #ff955587, #67bdc2);
    background-image: -webkit-linear-gradient(top, #ff955587, #67bdc2);
    background-image: -ms-linear-gradient(top, #ff955587, #67bdc2);
    background-image: -o-linear-gradient(top, #ff955587, #67bdc2);
    background-image: linear-gradient(to bottom, #ff955587, #67bdc2);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    padding: 1em 2em;
    text-transform: uppercase;
    margin: 2em auto;
    text-align: center;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .butn a, .butn a:link {
        text-decoration: none;
    }

    .butn:hover {
      box-shadow: #eee 0 10px 30px;
      transition-duration: .1s;
        color:#e4cfcf;
        background:#ffbb1a;
    background-image: -webkit-linear-gradient(top, #a5e6ea, #ff955587);
    background-image: -ms-linear-gradient(top,  #a5e6ea, #ff955587);
    background-image: -o-linear-gradient(top,  #a5e6ea, #ff955587);
    background-image: linear-gradient(to bottom,  #a5e6ea, #ff955587);
    background-image: -moz-linear-gradient(top, #a5e6ea, #ff955587);
}
        
	h1{
	color: #ab8b44;
	font:400 1.8em/1.4em sans-serif;
	}
	
    h2{
	font-size: 2em;
	color: #d8d3c8;
	}

    a{
	color:#dcdcdd
	}

    a:active, a:hover{
        color:#999
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  margin-top: 10px;
  text-align: left;
}

.call-to-action {
    position: relative;
   width:100%;
}

.footer-payment {
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-payment__item {
    margin-right: 30px;
}

svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 480px) {

  .about, .info{
      width: 90%;
}

	header, section, footer {
    margin: 2.2em auto;
	}

  .artist-note p{
    line-height: 1.2;
}
}