html,body{margin: 0; padding: 0}

body
{
    padding: 1ch;
 	font:500 .86rem sans-serif; 
 	background: #28343b;
	background: linear-gradient(to bottom, rgb(143, 143, 143) 0%, rgb(162, 162, 162) 93%);
	-webkit-font-smoothing: antialiased;
}

h1{
	transform: rotate(-90deg);
	transform-origin: left top 0;
	position:fixed;
	left: 0px;top:90%;
}

h1, h2{text-transform: uppercase;}

img{border-radius: 4px}

/* -----------------------
Layout styles
------------------------*/

.container
{
	 margin:0 5%;
}

.header{
	margin:1em;
	padding:1em;
}

.header ul 
{
  display: flex;
  width: 100%;
  list-style: none;
 }

.header > ul > li:first-child  {
  border:none;
}

.header ul li {
  flex: 1 1 auto;
}

.header li:hover {
  color: #fff;
  font-weight:bolder;
}
 
 #main{
     margin: 0 10% 2em;
     font-size: 1.5em;
 }

.story{
    padding-left:30%;
    margin:3em 0;
}

a, a:link{
	color:#000;
	text-decoration:none
}

a.contact{
    padding:1em 2em;
    border:1px solid #fff;
    border-radius: 10px;
}

	p+p{
	    margin-top:1em
	}

.pretxt{
    position: relative;
    margin: 2em 2em 2em 30%;
}

.pretxt p{
    font-size: small;
    letter-spacing: .12em;
}

#acryl, #oil, #watercolor, #vector, #shadows{
    margin:0 0 2rem 1em;
    
}  

.footer
{
    margin-top:3rem;
    font-family: verdana;
    letter-spacing: .12em;
	color: #eee;
	padding: 1em 1.25em;
	text-align:center;
}

.footer a, footer a:active
{
	color: #ddd;
	text-decoration:none  
}

.footer h5 a:hover{
	color:#fff;
	background-color: #8c8c8c;
    border: #404040;
}

.footer h5{
    margin-bottom:3em;
}

.footer .socialnav   {margin:2em auto; color:#767676}

/* -----------------------
Single styles
------------------------*/

#acryl img:hover{
	transform: translate3d(0,-1%,0) translate3d(0,-2px,0);
	
}

.img-responsive { 
	max-width: 100% 
 }
 
 img.one {
 	border-radius:5px;
 	margin: 1em auto 
 	}
 
 #lg-download{display:none}

/* img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
 
 

#acryl a.active {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
 

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em)
{
	.header { 
		padding:0;
		position:relative
	}
	
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 2em 2em 10%; }
	.footer { padding: 2em 3em; }
	
	.nav li
	{
		display: inline;
		margin: 0 1em 0 0;
	}
	
	.nav a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
	p.d10, p.d20{
	    padding-left:30%;
	}
	
}


/* -----------------------
Narrow styles
------------------------*/

@media only screen and (max-width: 600px)
{
 	
 	.aligncenter{text-align:center}
 	.phones {font-weight:100;font-size:30px}
 	.socialnav	{margin:0}
	.footer ul.socialnav{ 
	    margin:2em auto; 
	    font-size:1em
	}
	
	.footer ul.socialnav a:hover
	{color:orange;font-size:1.1em}
 	
 	.nav a{line-height:1.4em}
 	
 	#acryl, #oil, #watercolor, #vector, #shadows{
    margin:1em auto 2em;
    text-align: center;
} 

 #main{
     font-size: 1em;
}

  	#lightgallery img{
			width:49%;
	}
 			
 	img.one{ 
 		display: block;
  		background-size: cover;
  		background-position: center;
  		background-repeat:  no-repeat;
  		width: auto;      /* fallback */
  		max-width: 100%;  /* fallback */
  		width: calc(100% + 4em); /* modern browsers */
  		max-width: 100vw;        /* assumes content is full viewport width */
  		position: relative;
  		left:  -2em;
  		right: -2em;}
  		
        h1{
        color: #333;
        font-size: 1.5em;
        }
}
/*  Animation    */

.drop-in {
 animation: drop-in 1s ease 200ms backwards;
}

.drop-in-2  {
 animation: drop-in 1200ms ease 500ms backwards;
}

@keyframes drop-in {
 from {
  opacity: 0;
  transform: translateY(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .central{
        width: 100%;
        position: relative;
        transform: inherit;
    }
  
}

